@mixin bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin lineClamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin max($width) {
    @media only screen and (max-width: $width+ "px") {
        @content;
    }
}


@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

